@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.fc .fc-toolbar-title {
  @apply font-semibold;
}

.fc .fc-button {
  @apply bg-primary border-zinc-700 dark:text-zinc-950 outline-none !important;
}

.fc .fc-button:active {
  @apply ring-offset-2 ring-ring ring-2 outline-none border-none transition-colors !important;
}

.fc .fc-button:hover {
  @apply bg-primary/90 !important;
}

.fc .fc-button:disabled {
  @apply opacity-50 pointer-events-none !important;
}

.fc-day-today {
  @apply bg-emerald-200 border-none text-gray-900 !important;
}

.fc-theme-standard td {
  @apply border-zinc-200 dark:border-zinc-400;
}

.fc-day-other {
  @apply bg-neutral-300 dark:bg-neutral-800 text-black dark:text-white;
}

.fc .fc-button .fc-icon {
  @apply font-medium !important;
}

a.fc-col-header-cell-cushion {
  @apply font-light p-2 !important;
}

.fc .fc-daygrid-day-top {
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
